$base:'fe';
$base-font-family :Arial,
"Helvetica Neue",
Helvetica,
sans-serif;
$primary-color: #3271FF;
$border-radius: 4px;
$font-medium: PingFangSC-Medium;
$font-regular: PingFangSC-Regular;
$lignt-black: #151F4A;
$dark-yellow: rgba(215,121,29,1)

